.inputLabel {
    font-size: small !important; /* adjust as necessary */
    color: lightblue !important;
    order: 1;
}

.inputWrapper:focus-within .inputLabel {
    color: white !important;
}

.hidden, .hiddenSecrets {
    display: none;
}

.inputTextarea{
    padding-left: 1% !important;
    padding-right: 50px; /* provide space for the button */
    padding-top: 2% !important;
    border: 1px solid #202020;
    background-color: #202020;
    order: 2;
}

.inputText {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #202020;
    background-color: #202020;
    width: 100%;
    padding-left: 1%;
    padding-right: 50px; /* provide space for the button */
    order: 2;

    white-space: nowrap;
    overflow: hidden;
    
}


.inputSelect {
    padding-left: 1% !important;
    padding-right: 50px; /* provide space for the button */
    padding-top: 5% !important;
    order: 2;
}

.inputWrapper, .searchBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #ccc;
    background-color: #202020;
}

.sortIcon {
    cursor: pointer;
    font-size: 2.5rem !important;
}

.inputWrapper {
    min-height: 95px;
    padding: 16px;

}

/* for all pages */
.inputRow {
    display: flex;
    align-items: center;
    position: relative;
}

.inputRow ion-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

/* for edit pages */
.rowContainer {
    display: flex;
    justify-content: space-between; 
    width: 100%;
  }

.buttonContainer {
    display: flex;
    justify-content: space-between; 
  }

.editButton {
    height: 30px; 
    width: 60px;
}

.editWindow {
    padding: 1% 2% 0 2%;
}


.datePickerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}
  
.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 12% 0 12%;
}

.inputLabelContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rowContainer {
    display: flex;
    width: 100%;
}

.dateTimeButton, setlistPlayButton {
    margin-top: 15px;
    height: 55%;
    width: 35%;
}

.lowercase-button {
    text-transform: none !important;
}

.inputRating {
    margin: 10% !important;
    width: 100%;
    padding-top: 0 !important;
    color: gold;
}

.selectItem {
    width: 100% !important;
}

.fullWidthItem {
    width: 100%;
  }
  
.removeButton {
    margin-right: 15px;
    min-width: 60px;
    height: 65%;
}

.playerPlaintext {
    color: yellow;
}

.playerBit {
    color: white;
}

.timerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: none; 
 }

.timerContainer h3 {
    padding-top: 30px;
}

.timerActive {
    color: yellow;
  }
  
.container {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 5% 2% 0 2%;    
    justify-content: top;
    height: 100%;
}

.settingsButtons {
    width: 35%;
}

.filenameDescription {
    padding-left: 5%;
    font-style: italic;
}

.yellowButton {
  --background: yellow;
  --background-activated: #d4d400; /* slightly darker yellow when pressed */
}

.archiveLabel {
    padding-right: 15px;
}

.bitCardContentParagraph {
    margin-bottom: 15px;
    padding: 0;
}

.bitCardContentParagraph + .cardContainer {
    padding-top: 15px;
}

.setlistTextItem {
    font-style: italic;
}

.loader {
    display: flex;
    align-items: center; /* Vertically center the content */
    height: 100%; /* Take up the full height of the container */
    width: 100%; /* Take up the full width of the container */
    border: none !important;
  }

.homeSplashtext {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border: none !important;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.floating-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.mainList {
    margin-bottom: 50px;
}

.statusLine{
    font-style: italic;
    padding: 0 0 0 2%;
}



.customItem {
    display: flex;
    flex-direction: column;
    background-color: #202020;
}

.inputLabel {
    font-size: 14px;
    color: #999;
    padding-bottom: 8px;
    background-color: #202020;
}

.inputTextListing {
    width: 80%;
}

.playElapsedTime {
    text-align: right;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-right: 10px;
}

.playWindow {
    --background: black;
}

.alignRight {
    display: flex;
    text-align: right;
    order: 2;
}

.alignLeft {
    display: flex;
    text-align: left;
    order: 1;
}

.toolbarText {
    display: flex;
    justify-content: space-between;
}

.toggleArchiveButton {
    padding: 0 3% 0 3%;
    align-items: right;
}

.titleText {
    text-align: left;    
}


.flexParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.archiveItem {
    align-items: center;
}

.goldenStar {
    color: gold;
  }

.shortInput {
    width: 75%;
}

.playSetlistDiv {
    text-align: center;
}

.playSetlistButton {
    padding: 0 auto 0 auto;
    width:  auto;
    margin: 10px auto;
}

.playButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playIcon {
    font-size: 30px; /* Adjust the size as needed */
}

.newButton {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.newIcon {
    font-size: 30px; /* Adjust the size as needed */
}

.infoTextModal {
    padding-left: 20px;
}

.flip-vertical {
    transform: scaleY(-1);
  }

  /* Hide arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  text-align: right;
}

.dateInput {
    text-align: left;
}
