.inputLabel {
    font-size: small !important;
    order: 1;
}

.inputWrapper:focus-within .inputLabel {
    text-decoration: underline;
}

.hidden, .hiddenSecrets {
    display: none;
}

.inputTextarea{
    padding-left: 1% !important;
    padding-right: 50px; 
    padding-top: 1% !important;
    padding-bottom: 8px;
    min-height: 39px;
    resize: none;
    order: 2;
}

.notesTextarea{
    min-height: 96px;
}

.inputText {
    font-size: 16px;
    padding: 8px;
    padding-left: 1%;
    padding-right: 1%; 
    order: 2;
    white-space: nowrap;
    overflow: hidden;
}

.inputTextRight {
    font-size: 16px;
    padding: 8px;
    text-align: right;
    padding-left: 1%;
    padding-right: 1%;
    order: 2;
    white-space: nowrap;
    overflow: hidden;
}

.inputSelect {
    padding-left: 1% !important;
    padding-right: 50px; 
    padding-top: 5% !important;
    order: 2;
}

.inputWrapper, .searchBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.sortIcon {
    cursor: pointer;
    font-size: 2.5rem !important;
}

.inputWrapper {
    min-height: 95px;
    padding: 16px;

}

.inputRow {
    display: flex;
    align-items: center;
    position: relative;
}

.inputRow ion-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

.rowContainer {
    display: flex;
    justify-content: space-between; 
    width: 100%;
  }

.buttonContainer {
    display: flex;
    justify-content: space-between; 
    padding-top: 4px;
    padding-bottom: 4px;
  }

.editButton {
    height: 30px; 
    width: 60px;
}

.editWindow {
    padding: 1% 2% 0 2%;
}

.datePickerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 12% 0 12%;
}

.inputLabelContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.rowContainer {
    display: flex;
    width: 100%;
}

.dateTimeButton, setlistPlayButton {
    margin-top: 15px;
    height: 55%;
    width: 35%;
}

.lowercase-button {
    text-transform: none !important;
}

.inputRating {
    margin: 10% !important;
    width: 100%;
    padding-top: 0 !important;
    color: gold;
}

.selectItem {
    width: 100% !important;
}

.fullWidthItem {
    width: 100%;
  }
  
.removeButton {
    margin-right: 15px;
    min-width: 60px;
    height: 65%;
    max-height: 35px;
}

.timerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: none; 
 }

.timerContainer h3 {
    padding-top: 30px;
}

.timerActive {
    color: yellow;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 5% 2% 0 2%;    
    justify-content: top;
    height: 100%;
}

.settingsButtons {
    width: 35%;
    min-height: 45px ;
}

.filenameDescription {
    padding-left: 5%;
    font-style: italic;
}

.archiveLabel {
    padding-right: 15px;
}

.bitCardContentParagraph {
    margin-bottom: 15px;
    padding: 0;
}

.bitCardContentParagraph + .cardContainer {
    padding-top: 15px;
}

.setlistTextItem {
    font-style: italic;
}

.loader {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.homeSplashtext {
    font-size: 1.5em;
    font-weight: bold;
    border: none !important;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.floating-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.mainList {
    margin-bottom: 50px;
}

.statusLine{
    font-style: italic;
    padding: 0 0 0 2%;
}

.customItem {
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-size: 14px;
    padding-bottom: 8px;
}

.playWindow {
    padding-bottom: 75px;
}

.alignRight {
    display: flex;
    text-align: right;
    order: 2;
}

.alignLeft {
    display: flex;
    text-align: left;
    order: 1;
}

.toolbarText {
    display: flex;
    justify-content: space-between;
}

.toggleArchiveButton {
    padding: 0 3% 0 3%;
    align-items: right;
}

.titleText {
    text-align: left;    
}

.flexParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.archiveItem {
    align-items: center;
}

.shortInput {
    width: 75%;
}

.playSetlistDiv {
    text-align: center;
}

.playSetlistButton {
    padding: 0 auto 0 auto;
    width:  auto;
    margin: 10px auto;
}

.playButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playIcon {
    font-size: 30px; 
}

.newButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newIcon {
    font-size: 30px;
}

.infoTextModal {
    padding-left: 20px;
}

.flip-vertical {
    transform: scaleY(-1);
  }

  /* Hide arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  text-align: right;
}

.dateInput {
    text-align: left;
}

.bottom-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
  }

.centered-text {
    text-align: center;
}

.PlayButtons {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.creditList {
    padding-bottom: 80px !important;
}

.inlineButton {
    max-width: 20%;
}

.inlineTextInput {
    max-width: 80%;
}

.halfWidth {
    max-width: 50%;
}

.addBitListModal, .modal-content{
    overflow-y: auto;
    max-height: 90vh;
}

.goldenStar {
    color: darkgoldenrod;
  }


.closeBitListButton{
    min-height: 40px;
}

  .largeIcon {
    font-size: 20px;
    width: 20px; 
    height: 20px;
  }

  @media (prefers-color-scheme: dark) {
    .goldenStar {
      color: gold;
    }
  }
